*
  margin: 0
  height: 100%

body
  width: 100%
  height: 100%

.img-container
  height: 70%
  width: 100%
  background-position: center
  background-repeat: none
  background-size: 100%
  position: relative

.inner-container
  text-align: center
  position: absolute
  width: 100%
  color: #85929E
  height: auto
  margin-top: 200px

h1
  font-size: 3.5em
  font-family: "Montserrat", sans-serif

h2
  margin-top: -17px
  font-family: "Montserrat", sans-serif
  font-size: 1.2em
  text-align: center
  font-weight: 400

a
  margin-top: 20px
  font-size: 1.3em
  font-family: "Montserrat", sans-serif

.btn
    display: inline-block
    background: #1fb5bf
    padding: 0.5em 2em
    color: white
    margin-right: 0.5em
    &:hover
      background: #23cad5
    &:active
      background: #1fb5bf
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1)
    &:focus
      outline: none