<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 text-center" style="background-color:#72D8DA;">
                <span class="fas fa-users"></span><br>
                <button type="submit" class="btn" routerLink='/dashboard'>
                    Persons
                </button>
            </div>
            <div class="col-md-2 text-center" style="background-color:#64B5CD;">
                <span class="fas fa-book"></span><br>
                <button type="submit" class="btn" routerLink='/dashboard'>
                    Courses
                </button>
            </div>
            <div class="col-md-3 text-center" style="background-color:#72D8DA;">
                <span class="fas fa-sitemap"></span><br>
                <button type="submit" class="btn" routerLink='/dashboard'>
                    Programs
                </button>
            </div>
            <div class="col-md-3 text-center" style="background-color:#64B5CD;">
                <span class="fas fa-list-alt"></span><br>
                <button type="submit" class="btn" routerLink='/dashboard'>
                    Reporting
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 text-center" style="background-color:#64B5CD;">
                <span class="fas fa-check-square"></span><br>
                <button type="submit" class="btn" routerLink='/dashboard'>
                    Approvals
                </button>
            </div>
            <div class="col-md-4 text-center" style="background-color:#72D8DA;">
                <span class="fas fa-bell"></span><br>
                <button type="submit" class="btn" routerLink='/dashboard'>
                    Notifications
                </button>
            </div>
            <div class="col-md-3 text-center" style="background-color:#64B5CD;">
                <span class="fas fa-cogs"></span><br>
                <button type="submit" class="btn" routerLink='/dashboard'>
                    Maintenance
                </button>
            </div>
        </div>
    </div>
</body>